@font-face {
    font-family: LatoRegular;
    src: url(../fuentes/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: NunitoRegular;
    src: url(../fuentes/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: NunitoSemiBold;
    src: url(../fuentes/Nunito/Nunito-SemiBold.ttf);
}

body {
    background-image: url("../img/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: LatoRegular;
}

label {
    font-family: NunitoSemiBold;
}

a {
    font-family: NunitoRegular;
}

button {
    font-family: NunitoRegular;
}

.card {
    border-radius: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}